header {
    background: #2d435c;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #F1B92A;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
    color: inherit;
}

.opcoes {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.opcoes li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #2d435c;
    border-radius: 10px;
}

.opcoes li:hover {
    border-color: #C78C19;
}

.opcoes li:active {
    background-color: #2d435c;
}

.opcoes li:hover h2 {
    font-size: 40px;
    color: #000000;
    text-decoration: none;
}

.opcoes h2 {
    font-size: 30px;
    font-weight: bold;
}

.opcoes a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

footer{
    text-align: center;
    background-color: #2d435c;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

